<!DOCTYPE html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by John.  It uses data from mapbox.com and weatherstack.</p>
        <img class="portrait" src="/img/john.jpg">
        </div>
        {{>footer}}
    </body>
</html>